/*style de l'interface de la carte*/
 * {
  padding: 0;
  margin: 0;
 }

 #map {
  width: 100%;
  min-height: 548px;
  height: 100vh;
  background-color: #D5DBDB;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px gray;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  bottom: 12px;
  left: -50px;
  min-width: 300px;
  max-width: 800px;
  width: fit-content;
  line-height: ;
  font-family: monospace;
  font-size: 11px;
}

.ol-popup label {
  font-weight: bold;
}

.ol-popup p {
  margin: 5px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}


.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-vue {
  text-decoration: none;
  position: absolute;
  top: 22px;
  right: 18px;
  color: white;
}

.ol-popup button {
  text-decoration: none;
  position: absolute;
  bottom: 4px;
  right: 8px;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  color: black;
}


.ol-popup-closer:after {
  content: "X";
}

.ol-mouse-position {
  position: fixed;
  top: auto;
  bottom: 2px;
  left: 50%;
  right: auto;
  font-size: 10px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 2px 5px;
  transform: translateX(-50%);
  font-family: Verdana, Gevana, Tahoma, sans-serif;
  background-color: ;
}

#layers-grid {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 30px;
  top: 0px;
  padding: 0px 10px;
  background-color: #CCD1D1;
  opacity: 80%;
  border-radius: 30px 0 0 30px;
  border-left: 1px solid #34495E;
  border-right: 1px solid #34495E;
}

#attQeryDiv {
  display: none;
  top: 0;
  right: 0;
  position: absolute;
  margin: 50px 45px auto auto ;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  border-radius: 2px;
  box-shadow: 0px 0px 15px seashell;
  background-color: #CCD1D1;
  opacity: 80%;
  border: 1px solid #34495E;
}

#attQeryDiv #headerDiv {
  width: 100%;
  background-color: blue;
  height: 35px;
  text-align: center;
  vertical-align: middle;
}



#attQeryDiv #headerDiv label {
  color: white;
  font-family: inherit;
}

#attQeryDiv select, #attQeryDiv input {
  width: 225px;
  height: 35px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  text-align: center;
  margin: 0 10px 0 10px;
}


#attQeryDiv label {
  margin: 10px 10px 0 10px;
  text-align: left;
  width: 120px;
}

#attQeryDiv label:nth-child(1) {
  margin: 10px ;
  font-weight: bold;
}

#attQeryDiv #attQyRun {
  color: white;
  background-color: green;
  border-radius: 3px;
  border: 1px solid darkgreen;
  width: fit-content;
  padding: 2px;
  margin: 10px;
  cursor: pointer;
}

#attQyRun:hover {
background-color: blue;
}

#attListDiv{
  position: absolute;
  display: none;
  bottom: 50px;
  right: 0;
/*  margin:  350px auto auto 350px;*/
  width: auto;
  max-width: 400px;
  height: 100px;
  background-color: white;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.45;
  border-radius: 2px;
  border: 1px solid white;
  box-shadow: 2px 3px 2px black;
  overflow: scroll;
}

#attQryTable {
  padding: 0;
  border-collapse: collapse;
}

#attQryTable, td, th {
  padding: 0px 5px 0px 5px;
  border: 1px solid black;
}

#attQryTable th {
  color: white;
  background-color:  midnightblue;
  position: sticky;
  top: 0;
  font-style: normal;
  padding: 5px 10px 5px 10px;
}

#attQryTable tr:hover {
  background-color: lightgrey;
}



#filtreAreaDiv {
  display: none;
  top: 0;
  right: 0;
  position: absolute;
  margin: 50px 45px auto auto ;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  border-radius: 2px;
  box-shadow: 0px 0px 15px seashell;
  background-color: #CCD1D1;
  opacity: 50%;
  border: 1px solid #34495E;
}

#filtreAreaDiv #filtreAreaHead {
  width: 100%;
  background-color: blue;
  height: 35px;
  text-align: center;
  vertical-align: middle;
}



#filtreAreaDiv #filtreAreaHead label {
  color: white;
  font-family: inherit;
}

#filtreAreaDiv select, #filtreAreaDiv input {
  width: 200px;
  height: 35px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  text-align: center;
  margin: 0 10px 0 10px;
}


#filtreAreaDiv label {
  margin: 10px 10px 0 10px;
  text-align: left;
  width: 120px;
}

#filtreAreaDiv label:nth-child(1) {
  margin: 10px ;
  font-weight: bold;
}

#filtreAreaDiv button {
  color: white;
  background-color: green;
  border-radius: 3px;
  border: 1px solid darkgreen;
  width: fit-content;
  margin: 0 10px ;
  padding: 2px;
  cursor: pointer;
}

#filtreAreaRun:hover {
background-color: blue;
}


#printdiv {
  display: none;
  position: absolute;
  right: 40px;
  top: 0px;
  padding: 20px 10px;
  background-color: #CCD1D1;
  opacity: 80%;
  border: 1px solid #34495E;
}

#printdiv-closer {
  position: absolute;
  top : 2px;
  right: 10px;
  cursor: pointer;
}

#printdiv div {
  display: flex;
  margin: 5px 0;
}

#printdiv select {
  width: 80px;
  text-align: center;
}

button#export-pdf {
  margin: 10px auto 0 auto;
}

#printdiv label {
  width: 100px;
  text-align: left;
}

/*#printdiv .form {
  display: flex;
  flex-direction: row;
}*/

.ol-filtrage-mission {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 5px;
  right: 50px;
  background-color: #CCD1D1;
  opacity: 80%;
  border:  1px solid #CCD1D1;
  padding: 0 1px;
}

.ol-mission-chiox {
 /* position: absolute;
  right: 50px;
  top: 5px;*/
  display: none;
  flex-direction: row;
  /*border-left: 1px solid #34495E;
  border-right: 1px solid #34495E;*/
/*  border: 1px solid #34495E;*/
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 1px 6px 1px 0;
}
.ol-mission-chiox div {
  padding: 0 2px;
  border: 1px solid #34495E;
  border-radius: 3px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: 1px auto;
  font-size: 12px;
} 

.ol-outils {
  display: flex;
  flex-direction: column; /* Changez ici */
/*  align-items: start;*/
  background: none;
  background-color: #CCD1D1;
  opacity: 80%;
  width: fit-content;
  height: auto;
  position: fixed;
  right: 10px;
  top: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  border-radius: 30px;
  border-top:1px solid #34495E;
  border-bottom: 1px solid #34495E;
}

.ol-outils div {
  position: block;
  position: relative;
}

.ol-outils button {
  display: flex;
  background: none;
  border: none;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #34495E;
  border-radius: 3px;
  padding: 5px;
}

.ol-outils button:hover{
  background-color: khaki;
}

.ol-outils button.clicked{
  background-color: dimgrey;
}

/* start mesure distance area */

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.ol-tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}



